<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <img src="https://media.istockphoto.com/id/1164705522/nl/foto/popcorn-vliegt-uit-een-volle-emmer-close-up-op-een-witte-ge%C3%AFsoleerd.jpg?s=612x612&w=0&k=20&c=J4OYtuTRRA8YljGsQUFOf1lcWxoP7dNxIH_QEoEMy6g=" alt="poporn">
  </div>
  <div>
    <%= link_to "My Lists", root_path%>
    <%= link_to "New List", new_list_path %>
  </div>
</nav>
