.cards-bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookmark-card{
  width: 400px;
  height: 300px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.5);
}

.h4-center-bookmark {

  h4{
    color:black;
    margin-left: 10px;
  }

}
.div-p{
  margin: 10px;

}
.img-poster-top{

  text-align: center;



}
.div-delete-botton {
  display: flex;
  justify-content: end;



}
.delete-bottom{

  margin-right: 10px;
  padding: 10px 30px;
  border: none;
  .delete-link{
    color:red;
  }
}
